[submodule "plexconnect-git"]
	path = plexconnect-git
	url = ssh://aur@aur4.archlinux.org/plexconnect-git.git
[submodule "dotlink"]
	path = dotlink
	url = ssh://aur@aur4.archlinux.org/dotlink.git
[submodule "nib-git"]
	path = nib-git
	url = ssh://aur@aur4.archlinux.org/nib-git.git
